fastapi>=0.68.0
uvicorn>=0.15.0
langchain>=0.1.0
langchain-community>=0.0.11
pydantic>=2.0.0
httpx>=0.24.0
python-dotenv>=0.19.0
langchain-ollama
transformers
langchain-text-splitters~=0.3.5
langchain-core~=0.3.33
pymupdf~=1.25.2